/*----------------------------------------*/
/*---------////GENERAL/////---------------*/
/*----------------------------------------*/
body {  background: url('../images/cream-paper.png'); }

h1 { font-size: 2em;  }
p, li { font-size: 1.25em; }

ul { 
  list-style-type: none;
  padding-left: 0;
}

.selected {
  color:red;
}

.hidden {
  display: none;
}

/*----------------------------------------*/
/*------////NAVIGATION/////---------------*/
/*----------------------------------------*/

img { max-width: 100%; }
.menu img:hover {opacity: 0;}

nav { 
  background: white;
  padding: 15px 15px 15px 5px;
  position: relative ;
  transform: rotate(-5deg);
  box-shadow: 10px 10px 18px 0 rgba(50, 50, 50, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



#logo { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%; 
  transform: translate(-50%,-50%);
}

#logo:hover {  opacity: 0.8;  }

.menu:nth-child(2):hover{ background: url("../images/about-red.png");
                    background-size: cover;}
.menu:nth-child(3):hover{ background: url("../images/services-red.png");
                    background-size: cover;}
.menu:nth-child(4):hover{ background: url("../images/team-red.png");
                    background-size: cover;}
.menu:nth-child(5):hover{ background: url("../images/contact-red.png");
                    background-size: cover;}

.menu { 
  width: 50%;
  background-size: cover;
}
.menu:nth-child(even){ float: left;}
.menu:nth-child(odd){ float: right;}

.clearfix { overflow: visible; }


/*----------------------------------------*/
/*---------//// MAIN  /////---------------*/
/*----------------------------------------*/

main, section { margin: 0 0 100px 0; }

h1 { 
  padding-top: 20px;
  margin: 0;
  border-top: 3px solid black;
}

main section:last-child{ 
  border-bottom: 3px solid black;
}

.title-list { margin: 0;  }
.title-list h1 { 
  padding: 0; 
  cursor: pointer;
}


/*----------------------------------------*/
/*---------//// ASIDE  /////--------------*/
/*----------------------------------------*/

aside { position: relative ; }

aside section { 
  position: absolute;
  left: 30px; 
  opacity: 0;

  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;
}

.showPoints { 
  opacity: 1;
  left: 10px;
}

/*----------------------------------------*/
/*---------////MISC/////---------------*/
/*----------------------------------------*/

/* Grid Guide*/

.te { 
  border: 1px dotted silver; 
  color: silver;
}