
body{
/*  background-image: url("../testpolish.png");
  background-size: cover;
  background-repeat: no-repeat;*/
}

main section:last-child{ 
  border-bottom: 3px solid black;
}

.container-fluid{ margin-top: 20%; }

main h1{
  border-top:3px solid black;
  /*border-width: 2px 0;*/
  margin: 0;
}

.selected{
  color:red;
}

/*.information{ display: none;}*/

.hidden{
  display: none;
}

aside ul{ 
  list-style-type: none;
  padding-left: 0;
}

li{
  margin: 10px;
}